<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Hackership's sample Rails application.</p>
  <div class="">
   <% if user_signed_in? %>
   # do something
   <% else %>
   <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-lg pull-left" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg pull-right" %>
  </p>
  <div class="clearfix"></div>
  <% end %>
  <%# image_tag("card.jpg") %>
</div>
</div>
<div id="response"></div>
<button id="call" class="btn btn-lg btn-info" onclick="david()">CALL</button>