<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Hackership's sample Rails application.</p>
  <div class="">
   <% if user_signed_in? %>
   # do something
   <% else %>
   <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-lg pull-left" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg pull-right" %>
  </p>
  <div class="clearfix"></div>
  <% end %>
</div>
</div>
<!-- <div class="container">
  <div class="row images">
    <div class="col-sm-12 image1">
      <img src="http://placekitten.com/700/300" alt="">
    </div>
    <div class="col-sm-12 image2">
      <img src="http://placekitten.com/699/300" alt="">
    </div>
    <div class="col-sm-12 image3">
      <img src="http://placekitten.com/701/300" alt="">
    </div>
  </div>
</div>
<div class="container botones">
  <div class="row ">
    <div class="btn-group">
      <button class="prev btn btn-warning"> < </button>
      <button class="reset btn btn-info"> o </button>
      <button class="next btn btn-success"> > </button>
    </div>
  </div>
</div> -->