/*$grid-columns : 6;*/
/*$container-desktop : 500px;*/
/*$brand-primary : red;*/
@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700);

.jumbotron h1, .navbar-brand {
  font-family: 'Lobster Two', cursive;
}

@import 'bootstrap.min';
.images {
  img {
    width: 100%;
  }
  .image2, .image3 {
    display: none;
  }
}
.botones {
  margin-top: 2em;
  text-align: center;
}